/* blue           5bcefa */
/* pink           F5ABB9 */
/* orange         fc8f23 */
/* bright orange  FC4323 */
/* dull grey      2d3436 */
/* dark green     1a8714 */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#waybar {
  background-color: #5bcefa;
  color: #2d3436;
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  transition-property: background-color;
  transition-duration: .5s;
}

#tray {
    background-color: #5bcefa;
}

window#waybar {
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: #5bcefa;
    color: #2d3436;
}

#workspaces button:hover, #workspaces button.active {
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff, inset 0 3px #ffffff;
}

#workspaces button.active {
    background-color: #f5abb9;
}

#workspaces button.urgent {
    color: #FC4323;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    background: #5bcefa;
    color: #2d3436;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding-left: 0;
    padding-right: 5px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #1a8714;
}

#cpu.warning {
  background: #F5ABB9;
}

#cpu.critical {
  background: #fc8f23;
  color: #ffffff;
}

#memory.critical {
  background: #FC4323;
  color: #ffffff;
}


@keyframes blink {
    to {
        background-color: #F5ABB9;
        color: #2d3436;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    /* Using steps() instead of linear as a timing function to limit cpu usage */
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: #FC4323;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #018fc6;
}

#power-profiles-daemon.power-saver {
    background-color: #1a8714;
    color: #ffffff;
}

label:focus {
    background-color: #2d3436;
    color: #ffffff;
}

#network {
  font-weight: bold;
  padding-top: 2px;
}

#network.disconnected {
    background-color: #FC4323;
}

#pulseaudio.muted, #wireplumber.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
  padding-top: 3px;
}

#temperature.critical {
    background-color: #FC4323;
    color: #ffffff;
}

#backlight {
  background: #018fc6;
  color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FC4323;
}

#idle_inhibitor {
  margin-top: -2px;
}

#idle_inhibitor.activated {
  background-color: #fc8f23;
  color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

/* hover states for interactive controls */
#pulseaudio:hover,
#battery:hover,
#network:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover {
    background-color: #F5ABB9;
}
